

ul {
  list-style-type: none; /*remove list markings*/
  margin: 0;
  padding: 0; /* to remove browser's default setting*/
}


body {
  background-color: #2E4057; 
  padding-left: 10%;
}

a{
  color: white;
}

footer {
  position:fixed;
  right: 0;
  top:60%;
}

footer a {
  position: relative; 
  right: -70%; 
  transition: 0.3s; 
  padding: 15px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 5px 0 0 5px; 
  display: inline-block;
  width: 100%;
}

footer a:hover {
  right: 0; 
  /* color: #555; */
}

footer li{
  padding-bottom: 1vw;
}
#social-github {
  
  background-color: #04AA6D;
}

#social-linkedin {
  /* top: 5vw; */
  background-color: #2196F3;
}

#social-htb {
  /* top: 5vw; */
  background-color: #f44336;
}

#social-thm {
  /* top: 5vw; */
  background-color: #555;
}

.fa{
  padding-right: 10%;
}

.iconify{
  padding-right: 10%;;
}